{% extends "base.html" %}
{% block title %}Cost report{% endblock %}
{% block content %}
<h1>Line 3 downtime cost report</h1>
<p>Every machine, calculated from the downtime events each time this page loads.</p>
<table>
  <thead><tr><th scope="col">Machine</th><th scope="col" class="num">Events</th><th scope="col" class="num">Minutes</th><th scope="col" class="num">Estimated cost</th></tr></thead>
  <tbody>
    {% for item in rows %}
    <tr>
      <td>{{ item.row.code }} {{ item.row.name }}</td>
      <td class="num">{{ item.row.events }}</td>
      <td class="num">{{ item.row.minutes }}</td>
      <td class="num">${{ "%.2f"|format(item.cost) }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot><tr><th scope="row" colspan="3">All machines</th><td class="num">${{ "%.2f"|format(total_cost) }}</td></tr></tfoot>
</table>
{% endblock %}
